
__pycache__/

.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


instance/
*.db
*.sqlite3


*.log
*.sqlite3
*.db
*.env


# Environment variables
.env
.venv/
env/
venv/
